* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #9dcac7 20%, #83b53e 60%, #a7893c 100%);
}

#wrapper {
  padding: 50px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.25);
}

#chrono {
  text-align: center;
  font-size: 100px;
  margin-bottom: 30px;
}

button {
  font-size: 25px;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  background-color: rgb(178, 178, 178);
}

button:not(:last-child) {
  margin-right: 15px;
}

button:last-child {
  background-color: #3a6eff;
  color: white;
  font-weight: 700;
}